.container {
  display: flex;
  flex-direction: column;
}

.header {
  font-size: 2.6em;
  font-weight: 900;
  margin: 0.7em auto 0.5em;
}

.buttons__div > div > button {
  background: red;
  border: none;
}

.signup__div__btn {
  background: white;
  width: 100%;
}

/* .signup__div__btn > div {
  background: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 2px;
} */

.signup__div__btn > div > i {
  color: #fff;
  padding-right: 0.7em;
}

.buttons__div > b {
  margin-left: 0.7em;
}

@media (min-width: 768px) {
  .header {
    font-size: 3.7em;
    margin: 0.5em auto 0.5em;
  }

  .container {
    background-position: right 25% bottom 10%;
  }
}

@media (min-width: 1024px) {
  .header {
    font-size: 5.7em;
    margin: 1em auto 0.1em;
  }

  .signup__div {
    padding-top: 0;
    margin-left: 1em;
  }

  .signup__div__btn {
    width: 100%;
  }

  .buttons__div {
    display: flex;
    flex-direction: row;
  }

  .buttons__div > b {
    margin-left: 1em;
    margin-top: 0.6em;
  }
}
