.container > header {
  display: flex;
  justify-content: space-evenly;
  border: solid 1px red;
  border-radius: 4px;
  padding: 0.1em;
  margin: 0.5em 0 1em;
}

.container > header > button {
  box-shadow: 0 2px 5px red;
  color: red;
  background: #fff;
}

.container > div {
  border: solid 1px #dedede;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  margin: 0 0 2em;
}

@media (min-width: 768px) {
  .container > header {
    justify-content: space-between;
    border: none;
    box-shadow: 0 2px 3px grey;
  }

  .container > header > button {
    box-shadow: none;
    background: #000;
    color: white;
  }

  .container > div {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .container > div > button {
    height: 50%;
    margin: 0 0.3em;
  }
}
