.container {
  background: #eee;
  border: 1px solid #dedede;
  border-radius: 6px;
}

.container > p {
  font-weight: 900;
}

.container > div {
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  margin: 0 3px 6px;
  height: 100px;
}

@media (min-width: 768px) {
  .container > div {
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    margin: 0 3px 6px;
    height: 150px;
  }
}

@media (min-width: 1024px) {
  .container > div {
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    margin: 0 3px 6px;
    height: 100px;
  }
}
