body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

/* navbar */
.bg-light {
  background: linear-gradient(0.9turn, #ffd25e, #fad25a);
}

.navbar-nav {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
}

.nav-link {
  justify-content: center;
}

.dropdown-toggle.nav-link a {
  color: #000;
}

.nav-not-signedin {
  display: flex;
  padding-left: 80%;
}

a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  color: #000;
}

.fa-user {
  color: red;
  margin: 1em 1em 0;
}

/*form button*/
.save-btn {
  background-color: red;
  color: white;
  width: 100%;
  margin: 1.9rem 0 0.1rem;
}
